.container{
    display:flex;
    flex-direction: row;
    width : 800px;
    justify-content: space-between;
    align-items:center;
}
body{
    display: flex;
    height: 700px;;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
img{
    width:200px;
    height:200px;
}